<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="DbConnect"
        connectionString="Data Source=192.168.0.116;database=test_galyga;user id=sa;password=compasdt;Integrated Security=false;Trusted_Connection=False;Persist Security Info=True;MultipleActiveResultSets=true;Encrypt=False" />
  </connectionStrings>
</configuration>
<!-- user id=sa;password=compasdt -->